{# templates/error.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p>{{ error.message }}</p>
        <p>{{ error.details }}</p>
    </body>
</html>