{# templates/hello.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello</h1>
        <p>{{ message }}</p>
        <p>From language: {{ language }}</p>
        <p>Elapsed time: {{ elapsed_time }}</p>
    </body>
</html>